h3 {
  text-align: center;
  -webkit-text-stroke: 0.1px white;
  -webkit-text-fill-color: blue;
}

h1 {
  text-align: center;
  font-weight: 700;
  font-size: 4em;
  color: white;
}

hr {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

body {
  background: url("https://images.unsplash.com/photo-1535378620166-273708d44e4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1466&q=80");
  background-size: cover;
  font-family: Lato;
}

p {
  color: white;
  font-size: 2.5rem;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

#content {
  text-align: center;
  padding-top: 0%;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

#AG {
  -webkit-text-stroke: 0.1px white;
  -webkit-text-fill-color: blue;
}

.mainAsk {
  align-content: flex-end;
  text-align: center;
}

button {
  align-self: auto;
  width: 125px;
  padding: 0.4%;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 10px 12px rgba(0, 0, 0, 0.1);
}
